<div id="wrapper" [ngSwitch]="loggedIn">  
  <app-header [user]="user"></app-header>
  <p>This text is <span [ngStyle]="setImportance()">very</span> important!</p>
  <input 
  type="radio" 
  name="preference" 
  id="importantHighlight" 
  style="transform:scale(1.5)" 
  (click)="setStylePreference('hilite')"
  >
  <label for="importantHighlight">Highlight</label>
  <input 
  type="radio" 
  name="preference" 
  id="importantCaps" 
  style="transform:scale(1.5)" 
  (click)="setStylePreference('caps')"
  >
  <label for="importantCaps">Caps</label>
  <!-- <section *ngIf="!user.registered">
    <img src="../assets/images/chooseMyPlate.gov.png" alt="">
  </section>
  <section *ngIf="user.registered">
    <img src="../assets/images/generic-plate.png" alt="">
  </section>
  <p>Logged In:
    <span *ngSwitchCase="false" class="notRegistered">
      {{ loggedIn}}
    </span>
    <span *ngSwitchCase="true">
      {{ loggedIn}}
    </span>
    <span *ngSwitchDefault>Default Text Goes Here</span>
  </p> -->
  <app-child (login)="logIn($event)"></app-child>
</div>